* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Gilroy;
}

/* main */
#main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* to-do-list */
.to-do-list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 60vw;
    min-width: 50vw;
    border-radius: 1.5vw;
}


.to-do-list h1 {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    color: #002765;
    margin-bottom: 2vw;
}

.to-do-list h1 img {
    width: 3vw;
    margin-left: 2vw;
}

/* row */

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background-color: #edeef0;
    border-radius: 2vw;
}

.row input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 1.4vw;
    padding: 1vw 1.5vw;
}

.row button {
    border: none;
    outline: none;
    background-color: #ff5945;
    color: #fff;
    font-size: 1.5vw;
    padding: 1vw 4vw;
    border-radius: 2vw;
    font-weight: 600;
    cursor: pointer;
}


/* list-container */
.list-container {
    margin-top: 2vw;

}

ul li {
    list-style: none;
    font-size: 1.3vw;
    padding: 1vw 2.5vw;
    user-select: none;
    position: relative;
    cursor: pointer;
}

ul li::before {
    content: "";
    position: absolute;
    background-image: url(../assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    top: 1vw;
    left: -5px;

}

.checked {
    text-decoration: line-through;
    color: #555;
}

.checked::before {
    background-image: url(../assets/images/checked.png);

}

ul li span {
    position: absolute;
    right: 0;
    top: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    line-height: 2vw;
    text-align: center;
}

ul li span:hover {
    background-color: #edeef0;
}